/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: fixed;
  }
  body{
      background-color: black;
      color: white;
      font-family: Space Mono; 
  }
  h1 {
      font-size: 35px;
  }

  p{
      font-size: 25px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color:  black;
    color: white;
  }  

  #welcome-section {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-image:url(https://cdn.pixabay.com/photo/2019/10/04/18/36/milky-way-4526277_1280.jpg);
  } 
  #projects{
      height: 500px;
      text-align: center;
  }
  .row{
      display: flex; 
      flex-direction: row;
      width: 100%;
      margin-left: 80px; 
      margin-bottom: 30px;  
  }
  .column{
      display: flex;
      flex-direction: column;
      flex: 1;
    
  }
  .profile-links{
    display: flex;
  }

  @media only screen and (max-width: 400px) {
    .profile-links {
     display: none;
    }
  }